div {
    display: flex;
    align-items: center;
    
    background-color: black;
    text-transform: uppercase;
    font-family: sans-serif;
}

a {
    float: left;
    display: block;
    color: white;
    margin: auto;
    padding: 10px 10px;
    font-size: 10px;
}

table {
    color: white;
    font-size: 8px;
    text-align: right;
}

.left {
    align-items: flex-start;
}
.logo {
    background-color: red;
    font-size: 25px;
    width: 70px;  
}  

.center {
    align-items: center;
}

.right {
    align-items: flex-end;
}

#search {
    padding: 0px;
    width: 20px;
    height: 12px;
    filter: brightness(0) invert(1);
}

#searchbar {
    background-color:  #d93121;
    width: 12px;
    height:10px;
}

#cart {
    filter: brightness(0) invert(1);
    width: 25px;
}

